/* Defining Variables */

:root{
    /* Primary Color */
    --primary-bg-color:#2f4858;
    --primary-bg-color-light:#39576A;
    --primary-bg-color-lighter:#476C85;
    --primary-bg-color-lightest:#E4ECF1;
    --primary-bg-color-dark:#243742;
    --primary-bg-color-darker:#334D5B;
    --primary-bg-color-darkest:#162127;

    /* Secondary Color */
    --secondary-bg-color:#E09B33;
    --secondary-bg-color-light:#E4A84E;
    --secondary-bg-color-lighter:#F2D4A6;
    --secondary-bg-color-lightest:#F9EDDC;
    --secondary-bg-color-dark:#DF972A;
    --secondary-bg-color-darker:#C3811D;
    --secondary-bg-color-darkest:#8F5E14;

    /* Tertiary Color */
    --tertiary-bg-color:#00796A;
    --tertiary-bg-color-light:#008F7E;
    --tertiary-bg-color-lighter:#00B8A2;
    --tertiary-bg-color-lightest:#EBFFFD;
    --tertiary-bg-color-dark:#00665A;
    --tertiary-bg-color-darker:#005248;
    --tertiary-bg-color-darkest:#003D36;

    /* Quartnery Color */
    --quartnery-bg-color:#05616C;
    --quartnery-bg-color-light:#067B88;
    --quartnery-bg-color-lighter:#078D9C;
    --quartnery-bg-color-lightest:#ECFCEE;
    --quartnery-bg-color-dark:#055861;
    --quartnery-bg-color-darker:#04474E;
    --quartnery-bg-color-darkest:#022427;

    /* Pentanery Color */
    --pentanery-bg-color:#488E52;
    --pentanery-bg-color-light:#52A35E;
    --pentanery-bg-color-lighter:#5CAD68;
    --pentanery-bg-color-lightest:#E4F1E6;
    --pentanery-bg-color-dark:#376D3F;
    --pentanery-bg-color-darker:#305F37;
    --pentanery-bg-color-darkest:#1B361F;

    /* Hexanery Color */
    --hexanery-bg-color:#909B34;
    --hexanery-bg-color-light:#ABB83D;
    --hexanery-bg-color-lighter:#CED685;
    --hexanery-bg-color-lightest:#F3F5E0;
    --hexanery-bg-color-dark:#818A2E;
    --hexanery-bg-color-darker:#565C1F;
    --hexanery-bg-color-darkest:#393D14;

    /* Font Color */
    --primary-font-color:#2C3539;
    --secondary-font-color:#333333;
    --tertiary-font-color:#343434;
    --quartnery-font-color:#28282B;
    --pentanery-font-color:#353935;
    --hexanery-font-color:#0f0f0f;
    --white-font-color:#ffffff;

    /* Box Shadows */
    --primary-box-shadow:rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    --secondary-box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    --tertiary-box-shadow:rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    --quartnery-box-shadow:rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    --pentanery-box-shadow:rgba(0, 0, 0, 0.04) 0px 3px 5px;
    --hexanery-box-shadow:rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    
    
    /* Heading Desktop Font Size */
    --h1-desktop-size:44px;
    --h2-desktop-size:34px;
    --h3-desktop-size:28px;
    --h4-desktop-size:24px;
    --h5-desktop-size:20px;
    --h6-desktop-size:18px;

    /* Paragraph Font Size */
    --paragraph-title-size:20px;
    --paragraph-subtitle-size:18px;
    --paragraph-regular-size:16px;
    --paragraph-small-size:14px;
    --paragraph-smallest-size:12px;

    /* Heading Mobile Font Size */
    --h1-mobile-size:34px;
    --h2-mobile-size:28px;
    --h3-mobile-size:24px;
    --h4-mobile-size:20px;
    --h5-mobile-size:18px;
    --h6-mobile-size:16px;

}